<!DOCTYPE html>
<html>
<head>
	<title>Jobs</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
</head>

<body>
	<p>
		@greeting
	</p>
	<p>
		@user.job <br>
		@user.user
	</p>
	<p>
		Kind Regards <br>
		littlepig.cc <br>
		043 726 2864
	</p>
</body>
</html>
